<div class="d-flex justify-content-center">
  <div class="card chat-card w-25" style="height: 85vh;">
    <div class="card-header bg-primary text-white">
      <h5 class="card-title mb-0">Chat Room</h5>
    </div>
    <div class="card-body message-container">
      <div *ngFor="let message of messages" class="message my-2">
        <div  [ngClass]="message.self == true ? 'right':'left'">
          <div class="alert alert-primary d-inline-block">
            {{ message.text }}
          </div>
        </div>
        <!-- <ng-template #elseBlock>
          <div class="text-left elseBlock">
            <div class="alert alert-secondary d-inline-block">
              {{ message.text }}
            </div>
          </div>
        </ng-template> -->
      </div>
    </div>
    <div class="card-footer">
      <app-message-sender (sendMessage)="sendMessage($event)"></app-message-sender>
    </div>
  </div>
</div>
